h2 {
  margin: 0;
}

.feedbackWrapper {
  border: 1px solid tomato;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}

.btnFeedback {
  display: block;
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  border-color: tomato;
  color: tomato;
  background-color: yellow;
}

.btnFeedback:not(:last-child) {
  margin-right: 20px;
}

.btnFeedback:hover {
  transform: scale(1.1);
}

.btnFeedback:focus {
  color: yellow;
  background-color: tomato;
}

.statisticsCount {
  color: rgb(210, 66, 30);
  margin-top: 10px;
  background-color: khaki;
}

.statisticsCount:not(:last-child) {
  margin-bottom: 10px;
}

.statisticsCount:first-child {
  margin-top: 0;
}
